.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-full {
  width: 100%;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-disabled:hover {
  transform: none;
  box-shadow: none;
}
